<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
    <div id="basic" align="center">
        <h1>{{title}}</h1>
{#        <p>{{doc.datetime}}</p>#}
        <p><a href="{{url}}" target="_blank">{{url}}</a></p>
    </div>
    <hr/>
    <div id="detail" align="center">
        <table width="1000" border="0">
            <tr>
{#                {{ doc.body }}#}
{#                <td style="width:1000px"><p>{{doc.body}}</p></td>#}
                {% for para in text %}
                    <p style="width:1000px;text-align:left;">{{ para }}</p>
                {% endfor %}
            </tr>
        </table>
    </div>
    <hr/>
</body>
</html>